node_modules
.DS_Store
*~
.idea
.yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.vscode
**/.DS_Store
wallet.json
sugar.log
candy-machine-ui/.env
candy-machine-ui/.env.local
candy-machine-ui/.env.development.local
candy-machine-ui/node_modules
mint-spl-tokens/node_modules
cache.json